.browserback {
  float: right;
  line-height: 50px;
  width: 100px;
  height: 50px;
  padding: 0;
  -webkit-box-shadow: 5px 5px 0 #3d84a8;
  box-shadow: 5px 5px 0 #3d84a8;
}

.browserback:hover {
  float: right;
  -webkit-transform: translate(0, 3px);
  transform: translate(3px, 3px);
  -webkit-box-shadow: 2px 2px 0 #3d84a8;
  box-shadow: 2px 2px 0 #3d84a8;
}

body{
  color: #333333 !important;
  margin: 0px 150px;
  background-color: #46CDCF;
}

a{
  color: #abedd8;
}

.detail{
  border-top: solid 2px #48466D;
  border-bottom: solid 2px #48466D;
  background-color: #F6F6F6;
}


img.top-page-dice{
    width: 80px;
    height: 80px;
}

.detail{
  padding-top: 50px;
  padding-bottom: 50px;
}



a:link{
    color: #48466D;
    }
    
a:visited{
    color: #3D84A8;
}
    
a:hover{
    color: #46CDCF;
}

.popup {
  display: none;
  height: 100vh;
  width: 100%;
  background: black;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
}

.button{
    border:outset 1px #333333;
    background-color: #46CDCF;
    color: #F6F6F6;
    width: 30%;
    text-align:center;
    padding: 10px 0px;
    cursor: pointer;
}

.contents{
  background: white;
  padding: 30px;
  width: 50%;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.caution{
  display: none;
}

@media (orientation: portrait) and (max-width: 768px) {
	/* 480px以下に適用されるCSS（スマホ用）デバイスが縦向きの場合の記述 */
  .detail{
    display: none;
  }
  .caution{
    display: block !important;
  }
}

@media (orientation: landscape) and (max-width: 812px){
  /* デバイスが横向きで、1024px以下の場合 */
  .h1,h1{
    font-size:1.5rem !important;
  } 
  .h2,h2{
    font-size:1.5rem !important;
  }
  .h3,h3{
    font-size:1.5rem !important;
  }
  .h4,h4{
    font-size:1.5rem !important;
  }
  .h5,h5{
    font-size:0.5rem !important;
  }
  .h6,h6{
    font-size:1.5rem !important;
  }
  body{
    margin: 0px 80px !important;
  }
}